.button {
  @include flex-center();
  width: auto;
  min-height: 40px;

  //border-radius: 40px;
  border: none;

  margin: #{0.5 * $spacing} 0;
  padding: 0 20px;

  font-family: $space;
}

.button.button-primary {
  background: $blue;
  color: $white;
}